// GOOGLE FONTS
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;900&display=swap');

// VARIABEL
$logo-font: 'Oswald',
sans-serif;
$body-font: 'Poppins',
sans-serif;

$primary-color : #FF7424;
$primary-color-alt : #FCF2F1;
$secondary-color : #242424;
$secondary-color-alt : #808080;
$grey-color : rgb(226, 226, 226);

// ROOT
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body,
a {
    font-family: $body-font;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

section {
    padding: 100px;

    @media (max-width: 767px) {
        padding: 100px 0 0 0;
    }

    .subtitle-section {
        font-size: 14px;
        font-weight: 600;
        color: $secondary-color-alt;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    .title-section {
        text-transform: capitalize;
        font-size: 42px;
        font-weight: 700;
        color: $secondary-color;

        @media (max-width: 767px) {
            font-size: 28px;
            margin-bottom: 10px;
        }
    }

    .description-section {
        margin-top: 20px;
        font-size: 16px;
        font-weight: 500;
        color: $secondary-color-alt;
    }
}

// NAVBAR
header {
    height: 80px;
    width: 100%;
    background-color: #fff;

    .nav {
        padding: 20px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo-header {
            font-family: $logo-font;
            font-size: 24px;
            font-weight: 600;
            color: #000;
            margin: 0;
        }

        .nav-toggle {
            font-size: 24px;
            cursor: pointer;

            @media(min-width: 769px) {
                display: none;
            }
        }

        .nav-menu {
            @media (max-width: 768px) {
                position: fixed;
                top: 0;
                right: -100%;
                // right: 0;
                width: 90%;
                height: 100%;
                padding: 20px;
                background-color: rgba(255, 255, 255, 8);
                backdrop-filter: blur(10px);
                transition: .5s;

                .nav-list {
                    display: flex;
                    flex-direction: column;

                    .nav-item {
                        margin: 10px 0 !important;
                    }
                }

                &.show {
                    right: 0;
                }
            }

            .nav-close {
                position: absolute;
                top: 30px;
                right: 30px;
                font-size: 24px;
                cursor: pointer;

                @media(min-width: 769px) {
                    display: none;
                }
            }

            .nav-list {
                margin: 0;
                display: flex;
                justify-content: space-between;

                .nav-item {
                    margin: 0 4px;

                    .nav-link {
                        font-weight: 500;
                        color: $secondary-color;
                        transition: .3s;

                        &.active,
                        &:hover {
                            color: $primary-color;
                        }
                    }
                }
            }
        }
    }
}

.banner-section {
    width: 100%;
    padding: 60px 0 50px 120px;


    .content {
        display: flex;
        align-items: center;

        .left-content {
            flex: 40%;
            padding-right: 10px;
            margin-top: -10px;

            .banner-title {
                font-size: 64px;
                font-weight: 700;
                color: $secondary-color
            }

            .banner-description {
                font-size: 16px;
                font-weight: 500;
                color: $secondary-color-alt;
                margin: 20px 0;
            }

            .btn-banner {
                font-size: 16px;
                font-weight: 600;
                text-transform: uppercase;
                color: #FFFFFF;
                background-color: $primary-color;
                padding: 14px 24px;
                border-radius: 0;
            }
        }

        .right-content {
            flex: 60%;
            padding-left: 10px;

            .banner-swiper {
                width: 100%;
                height: 100%;

                .banner-slide {
                    width: 70%;
                    height: 520px;

                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }

    @media(max-width: 768px) {
        padding: 50px 0 50px 20px;
        max-width: 100%;

        .content {
            display: flex;
            flex-direction: column;

            .left-content {
                padding-right: 20px;

                // width: 100%;
                .banner-title {
                    font-size: 42px;
                }
            }

            .right-content {

                .banner-swiper {
                    margin-top: 30px;
                    width: 100%;
                    height: 100%;

                    .banner-slide {
                        width: 70%;
                        height: 300px;

                        img {
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }

        }
    }
}

.popular-section {
    .card-package-popular {
        position: relative;
        width: 100%;
        height: 440px;
        border-radius: 0;
        background-size: cover;

        .content {
            position: absolute;
            bottom: 20px;
            left: 20px;
            right: 20px;
            color: #FFFFFF;

            .package-title {
                font-size: 24px;
                font-weight: 700;
            }

            .price {
                font-size: 16px;
                font-weight: 600;
                margin: 0;
                margin-top: 10px;

                span {
                    font-weight: 500;
                    font-size: 14px;
                    color: $primary-color-alt;
                }
            }

            .info {
                font-size: 14px;
                font-weight: 500;
                color: $primary-color-alt;
                margin-top: 10px;
            }

            .btn-package-popular {
                border-radius: 0;
                background-color: $primary-color;
                color: #FFFFFF;
                padding: 10px 14px;
                font-weight: 600;
                text-transform: uppercase;
                letter-spacing: 1.4px;
                transition: .3s;

                &:hover {
                    background-color: $primary-color-alt;
                    color: $primary-color;
                }
            }
        }
    }
}

.services-section {
    .img-service {
        width: 100%;
        height: 560px;
    }

    .service-right {

        .service-number,
        .service-title {
            font-weight: 600;
            font-size: 24px;
            color: $secondary-color;
        }

        .service-description {
            font-weight: 500;
            font-size: 16px;
            color: $secondary-color-alt;
        }
    }

}

.why-choose-service {
    .why-choose-number {
        margin-top: 20px;
        font-size: 42px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        color: $primary-color;

        @media(max-width: 768px) {
            font-size: 32px;
        }
    }

    .why-choose-info {
        font-size: 16px;
        color: $secondary-color-alt;
    }
}

.contact-section {
    .btn-contact {
        background-color: $primary-color;
        color: #FFFFFF;
        padding: 10px 34px;
    }
    .contact-img {
        width: 100%;
        height: 590px;
        object-fit: cover;
        object-position: center;

        @media(max-width: 768px) {
            height: 300px;
        }
    }
}

.footer {
    margin-top: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #2F2626;

    .footer-logo {
        font-weight: 700;
        font-family: $logo-font;
        font-size: 28px;
        color: #FFFFFF;
        // margin: 0;
        line-height: 25px;
    }

    .footer-description {
        font-weight: 500;
        color: $grey-color;
        margin: 20px 0;
    }

    .social-icons {
        margin-top: 30px;
        list-style: none;
        display: flex;
        align-items: center;

        a {
            font-size: 24px;
            color: $grey-color;
        }
    }

    .title-footer {
        font-size: 18px;
        font-weight: 600;
        color: #FFFFFF;
        margin: 0;
    }

    .footer-ul {
        margin-top: 30px;
        list-style: none;

        li {
            margin-bottom: 10px;

            a {
                font-weight: normal;
                text-transform: capitalize;
                color: $grey-color;
            }
        }
    }

    .copyright {
        margin-top: 30px;

        .line {
            margin: auto;
            margin-bottom: 20px;
            height: 1px;
            width: 80%;
            background-color: rgb(230, 230, 230);
        }

        .copyright-text {
            font-size: 14px;
            font-weight: 500;
            color: $grey-color;
            text-align: center;

            @media(max-width: 767px) {
                font-size: 12px;
            }
        }
    }
}